<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <meta charset="UTF-8">
        <title>信息填写</title>
        <link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5/css/bootstrap.min.css?versions={$versions}">
        <link rel="stylesheet" href="__PUBLIC__/layer_mobile/need/layer.css?versions={$versions}">
        <link rel="stylesheet" href="__PUBLIC__/css/common.min.css?versions={$versions}">
        <link rel="stylesheet" href="__PUBLIC__/bootstrapvalidator/css/bootstrapValidator.min.css?versions={$versions}"/>
        <link rel="stylesheet" href="__PUBLIC__/bootstrap-switch/css/bootstrap-switch.min.css?versions={$versions}"/>
        <script type="text/javascript" src="__PUBLIC__/jquery/jquery-2.1.4.min.js?versions={$versions}"></script>
        <script type="text/javascript" src="__PUBLIC__/bootstrap-3.3.5/js/bootstrap.min.js?versions={$versions}"></script>
        <script type="text/javascript" src="__PUBLIC__/layer_mobile/layer.js?versions={$versions}"></script>
        <script type="text/javascript" src="__PUBLIC__/js/common.min.js?versions={$versions}"></script>
        <script type="text/javascript" src="__PUBLIC__/lrz/lrz.all.bundle.js?versions={$versions}"></script>
        <script type="text/javascript" src="__PUBLIC__/bootstrapvalidator/js/bootstrapValidator.min.js?versions={$versions}"></script>
        <script type="text/javascript" src="__PUBLIC__/bootstrapvalidator/js/language/zh_CN.js?versions={$versions}"></script>
        <script type="text/javascript" src="__PUBLIC__/bootstrap-switch/js/bootstrap-switch.min.js?versions={$versions}"></script>
    </head>
    <body>
        {__CONTENT__}
        <script type="text/javascript">
        </script>
    </body>
</html>